---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Hook from '../components/Hook.astro';
import Audience from '../components/Audience.astro';
import DualValue from '../components/DualValue.astro';
import Program from '../components/Program.astro';
import CareerPath from '../components/CareerPath.astro';
import Stats from '../components/Stats.astro';
import Speaker from '../components/Speaker.astro';
import Bonuses from '../components/Bonuses.astro';
import Registration from '../components/Registration.astro';
import Footer from '../components/Footer.astro';
import StickyCTA from '../components/StickyCTA.astro';
import RegistrationModal from '../components/RegistrationModal.astro';
---

<Layout
  title="Здоровье без таблеток: от диагноза к профессии"
  description="Бесплатный трёхдневный марафон школы нутрициологии «Ресурс»."
>
  <Header />
  <main>
    <Hero />
    <Hook />
    <Audience />
    <DualValue />
    <Program />
    <CareerPath />
    <Stats />
    <Speaker />
    <Bonuses />
    <Registration />
    <Footer />
  </main>
  <StickyCTA />
  <RegistrationModal />
</Layout>
